@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans:wght@100;200;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Common styles */
.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;


}

.text-light-gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 32px;
}

/* Header section Styles */
.header {

    background: rgba(255, 144, 14, 0.10);
    padding: 50px 190px;
}

.nav-title {
    color: #097cb6fe;
    font-size: 2.5rem;
    font-weight: 700;

}

nav {

    display: flex;
    justify-content: space-between;
    margin-bottom: 102px;
    align-items: center;

}

nav>ul {
    display: flex;



}

nav li {
    margin-right: 35px;
    list-style: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: #424242;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

nav li a:hover {
    color: red;
}

/* banner styles */

.banner-content {
    max-width: 820px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;

}



.banner img {
    margin-top: 30px;
    width: 100%;

}

/* main styles  */

main {
    max-width: 1120px;
    margin: 0 auto;
}


.team-container {

    display: flex;
    align-items: center;
    margin-bottom: 138px;
}

.team-img-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.team-content {
    padding-left: 50px;

}

.team-title {
    margin-bottom: 24px;
}

.team-title,
.quick-list {
    color: #727272;
    font-size: 2.9rem;
    font-weight: 500;


}

.team-title,
.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;

}

.team-title,
.the-features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;

}




/* Facts Section Styles */
.facts{
    margin-bottom: 100px;
}
.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;

}

.facts-card-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    text-align: center;

}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 20px;
}

.card-stats {
    color: #424242;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-title {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}




/* Responsive Styles */
/* Mobile small devices */
@media screen and (max-width:576px) {

    .header {
        padding: 20px;

    }

    nav,
    .team-container {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .nav-title {
        margin-bottom: 20px;
    }

    .banner-title {
        font-size: 2rem;

    }

}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .header {
        padding: 50px;

    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 20px;
    }

}